- if agenda.empty?
  %p
    The agenda is empty.
- else
  - agenda.each do |p|
    %p
      = succeed ':' do
        %a{href: iri.cut('/ranked').add(path: p[:plan].chunk, mnemo: '*')}= p[:plan].chunk
      = p[:text]
      %br
      = p[:deadline].utc.iso8601
      %br
      - p[:chunks].each do |c|
        %a{href: iri.cut('/ranked').add(path: c, mnemo: '*')}<
          %code= c
      %br
      %a.item{href: iri.cut('/agenda/done').add(pid: p[:plan].id)} Done
