%h2
  Causes

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if causes.empty?
  %p
    No causes as of yet.
- else
  %table
    %colgroup
      %col{style: 'width: 3em'}
      %col{style: ''}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th Id
        %th Text
        %th.right Rank
        %th.right Risks
    %tbody
      - causes.each do |r|
        %tr
          %td
            %code= "C#{r[:id]}"
          %td
            &= r[:text]
          %td.right
            = r[:rank]
          %td.right
            = r[:risks]
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if causes.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

