%h2
  Effects

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if effects.empty?
  %p
    No effects as of yet.
- else
  %table
    %colgroup
      %col{style: 'width: 3em'}
      %col{style: ''}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th Id
        %th Text
        %th.right I
        %th.right Rank
        %th.right Risks
    %tbody
      - effects.each do |r|
        %tr
          %td
            %code= "E#{r[:id]}"
          %td
            &= r[:text]
          %td.right
            - if r[:positive]
              = '&#x1F44D;'
            - else
              = '&#x1F44E;'
            = r[:impact]
          %td.right
            = r[:rank]
          %td.right
            = r[:risks]
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if effects.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

