-# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Effects

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if effects.empty?
  - if query.empty?
    %p
      No effects as of yet.
  - else
    %p
      %span.red Nothing
      found, sorry.
- else
  %p
    There are
    = total
    effects:
  %table
    %colgroup
      %col{style: 'width: 3em'}
      %col{style: ''}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th Id
        %th Text
        %th.right I
        %th.right Rank
        %th.right Risks
    %tbody
      - effects.each do |r|
        %tr
          %td
            = part('E', r[:id])
          %td
            &= r[:text]
          %td.right
            = thumb(r)
            = r[:impact]
          %td.right
            = rank(r)
          %td.right
            = r[:risks]
  = Haml::Engine.new(File.read('views/_paging.haml')).render(self, locals.merge(count: effects.count))
