-# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

!!! 5
%html
  %head
    %title= title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'keywords', content: 'risks, risk management, risk quality, risk quantity'}
    %meta{name: 'description', content: 'Online Risk Manager: identify your risks in Cause+Risk+Effect format and let us manage them'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://www.yegor256.com/css/icons.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/logo-64.png')}
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js'}
    :css
      .item { margin-right: 1em; }
      .logo { width: 64px; height: 64px; }
      .small { font-size: .8em; line-height: 1.4em; }
      .gray { color: gray; }
      .red { color: #C5283D; }
      .green { color: #0B7A75; }
      .right { text-align: right; }
      .up { content:url('/up.svg'); width: 1em; height:1em; }
      .down { content:url('/down.svg'); width: 1em; height:1em; }
      .dimmed { background-color: #eee; }
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: url('/')}
                %img.logo{src: iri.cut('/logo.svg'), alt: 'Logo'}
        %nav
          %ul
            %li
              - if defined?(user)
                %a{href: '/projects'}= "@#{user[:login]}"
                - if @cookies['0rsk-project']
                  = '/'
                  %a{href: iri.cut('/project').append(current_project)}= "##{current_project}"
              - else
                %a{href: login_link}
                  Login
            - if defined?(user)
              %li
                %a{href: iri.cut('/triple')}
                  Add
              %li
                %a{href: iri.cut('/tasks')}
                  - if tasks_count.zero?
                    No tasks
                  - elsif tasks_count == 1
                    One task
                  - else
                    %span{class: tasks_count >= Rsk::Tasks::THRESHOLD ? 'red' : ''}
                      = tasks_count
                      tasks
              %li
                %a{href: iri.cut('/logout')}
                  Logout
        - if defined?(flash_msg) && !flash_msg.empty?
          %p{style: 'background-color:' + flash_color + ';color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg
      %article
        = yield
      %footer.small.gray
        - if defined?(user)
          %nav
            %ul
              %li
                %a{href: iri.cut('/projects')}
                  Projects
              - if @cookies['0rsk-project']
                %li
                  %a{href: iri.cut('/causes')} Causes
                %li
                  %a{href: iri.cut('/risks')} Risks
                %li
                  %a{href: iri.cut('/effects')} Effects
                %li
                  %a{href: iri.cut('/plans')} Plans
              %li
                %img{src: iri.cut('/telegram-logo.svg'), style: 'height: 1.1em; vertical-align: middle;'}
                %a{href: 'https://t.me/zerorsk_bot'} Talk to me
        %nav
          %ul
            %li
              &copy; 2019
              %a{href: 'https://www.zerocracy.com'} Zerocracy
            %li
              %a{href: iri.cut('/terms')} Terms of Use
        %nav
          %ul
            %li{title: 'Heroku release version and currently deployed version'}
              = "#{ENV['HEROKU_RELEASE_VERSION']}/#{ver}"
            %li{title: 'PostgreSQL version'}
              = "pg:#{settings.pgsql.version}"
            %li{title: 'Your IP address visible to the server'}
              %a{href: 'https://iplocation.com/?ip=' + request_ip}
                = request_ip
            %li{title: 'This request processing time'}
              = "#{((Time.now - http_start) * 1000).round}ms"
        %nav
          %ul
            %li
              %a{href: 'https://github.com/yegor256/0rsk/stargazers'}<
                %img{src: 'https://img.shields.io/github/stars/yegor256/0rsk.svg?style=flat-square', alt: 'GitHub'}
            %li
              %a{href: 'https://www.sixnines.io/h/6ea3'}<
                %img{src: 'https://www.sixnines.io/b/6ea3?style=flat', alt: 'SixNines'}
