%h2
  Plans

- if plans.empty?
  %p
    No plans as of yet.
- else
  %table
    %thead
      %tr
        %th Id
        %th Target
        %th Text
        %th Schedule
        %th Completed
    %tbody
      - plans.each do |r|
        %tr
          %td
            %code= "P#{r[:id]}"
          %td
            %code= "#{r[:prefix]}#{r[:part]}"
          %td
            &= r[:text]
          %td
            = r[:schedule]
          %td
            = r[:completed].utc.iso8601
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if plans.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

