-# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Plans

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if plans.empty?
  - if query.empty?
    %p
      No plans as of yet.
  - else
    %p
      %span.red Nothing
      found, sorry.
- else
  %p
    There are
    = total
    plans:
  %table
    %colgroup
      %col{style: 'width: 3em'}
      %col{style: 'width: 3em'}
      %col{style: ''}
      %col{style: 'width: 8em'}
      %col{style: 'width: 8em'}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th Id
        %th Target
        %th Text
        %th Schedule
        %th Completed
        %th.right Rank
    %tbody
      - plans.each do |r|
        %tr
          %td
            %code= "P#{r[:id]}"
          %td
            %a{href: iri.cut('/responses').add(id: r[:triple])}<
              %code= "#{r[:prefix]}#{r[:part]}"
          %td
            &= r[:text]
          %td
            = r[:schedule]
          %td
            = RelativeTime.in_words(r[:completed].utc.iso8601)
          %td.right
            = thumb(r)
            = rank(r)
  = Haml::Engine.new(File.read('views/_paging.haml')).render(self, locals.merge(count: plans.count))
