%h2
  Plans

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if plans.empty?
  %p
    No plans as of yet.
- else
  %table
    %colgroup
      %col{style: 'width: 3em'}
      %col{style: 'width: 3em'}
      %col{style: ''}
      %col{style: 'width: 8em'}
      %col{style: 'width: 8em'}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th Id
        %th Target
        %th Text
        %th Schedule
        %th Completed
        %th.right Rank
    %tbody
      - plans.each do |r|
        %tr
          %td
            %code= "P#{r[:id]}"
          %td
            %a{href: iri.cut('/responses').add(id: r[:triple])}<
              %code= "#{r[:prefix]}#{r[:part]}"
          %td
            &= r[:text]
          %td
            = r[:schedule]
          %td
            = RelativeTime.in_words(r[:completed].utc.iso8601)
          %td.right
            - if r[:positive]
              %img.up
            - else
              %img.down
            = r[:rank]
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if plans.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

