%form{method: 'GET', action: '/ranked'}
  %input{type: 'hidden', name: 'path', value: path.join(' ')}
  %input{type: 'hidden', name: 'mnemo', value: mnemo}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if mnemo != '*'
  %p
    Mnemo:
    %code= mnemo
    %a.item{href: iri.over(mnemo: '*')} x

- unless path.empty?
  %p
    Path:
    - path.each do |c|
      %code=c
      %a.item{href: iri.over(path: (path - [c]).sort.uniq.join(' '))} x

- if ranked.empty?
  %p
    %span.red Nothing
    found, sorry.
- else
  - ranked.each do |r|
    %p
      %span{style: 'color: ' + (r[:rank] < 32 ? 'gray' : (r[:rank] > 64 ? 'orangered' : 'seagreen'))}
        = "#{r[:rank]}:"
      - r[:chunks].each do |c|
        %a{href: iri.over(path: (path + [c]).sort.uniq.join(' '))}<
          %code= c
      = r[:text]
      %br
      %a.item.small{href: iri.cut('/add').add(path: r[:path])} Edit
      %a.item.small{href: iri.cut('/ranked/delete').add(id: r[:id])} Delete

%p
  - ['C', 'CR', 'CP', 'CRE', 'CR*', 'CRE*', 'CRP', 'CREP', '*'].each do |m|
    %a.item{href: iri.over(mnemo: m)}<
      %code= m

%p
  - if offset.positive?
    %a.item{href: iri.over(offset: offset - 25)} Previous
  - if ranked.count >= limit
    %a.item{href: iri.over(offset: offset + 25)} Next

