%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if triples.empty?
  %p
    %span.red Nothing
    found, sorry.
- else
  - triples.each do |r|
    %p
      = thumb(r)
      = rank(r)
      %code= "C#{r[:cid]}"
      %code= "R#{r[:rid]}"
      %code= "E#{r[:eid]}"
      %br
      &= "#{r[:ctext]};"
      &= "#{r[:rtext]};"
      &= "#{r[:etext]}."
      %br
      %a.item.small{href: iri.cut('/triple').add(id: r[:id])} Edit
      %a.item.small{href: iri.cut('/responses').add(id: r[:id])}<
        - if r[:plans].empty?
          %span.red No plans
        - else
          = "#{r[:plans].count} plan#{r[:plans].count == 1 ? '' : 's'}"
      %a.item.small{href: iri.cut('/ranked/delete').add(id: r[:id])} Delete
      - unless r[:plans].empty?
        %div.small
          - r[:plans].each do |p|
            %br
            &= p
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if triples.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

