%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if triples.empty?
  %p
    %span.red Nothing
    found, sorry.
- else
  - triples.each do |r|
    %p
      %span{style: 'color:' + (r[:rank] >= 64 ? 'darkred' : (r[:rank] <= 32 ? 'darkgreen' : 'inherit'))}
        = r[:rank]
      %code= "C#{r[:cid]}"
      %code= "R#{r[:rid]}"
      %code= "E#{r[:eid]}"
      %br
      &= "#{r[:ctext]};"
      &= "#{r[:rtext]};"
      &= "#{r[:etext]}."
      %br
      %a.item.small{href: iri.cut('/triple').add(id: r[:id])} Edit
      %a.item.small{href: iri.cut('/ranked/delete').add(id: r[:id])} Delete

%p
  - if offset.positive?
    %a.item{href: iri.over(offset: offset - 25)} Previous
  - if triples.count >= limit
    %a.item{href: iri.over(offset: offset + 25)} Next

