%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js'}
%script{src: '/js/responses.js'}

%h2
  Responses to
  %a{href: iri.cut('/triple').add(id: triple[:id])}
    = "##{triple[:id]}"

%p
  = thumb(triple)
  = rank(triple)
  &= triple[:emoji]
  %br
  = part('C', triple[:cid])
  &= triple[:ctext]
  %br
  = part('R', triple[:rid])
  &= triple[:rtext]
  %br
  = part('E', triple[:eid])
  &= triple[:etext]

%form{method: 'POST', action: iri.cut('/responses/add')}
  %fieldset
    %input{type: 'hidden', name: 'id', value: triple[:id]}
    %label Strategy:
    %select{id: 'strategy', name: 'strategy', tabindex: 1}
      - if triple[:positive]
        %option{value: triple[:cid]}= "Promote C#{triple[:cid]}"
        %option{value: triple[:rid], selected: true}= "Exploit R#{triple[:rid]}"
        %option{value: triple[:eid]}= "Enhance E#{triple[:eid]}"
      - else
        %option{value: triple[:cid]}= "Eliminate C#{triple[:cid]}"
        %option{value: triple[:rid], selected: true}= "Avoid R#{triple[:rid]}"
        %option{value: triple[:eid]}= "Mitigate E#{triple[:eid]}"
    %label Plan:
    %input{id: 'plan', type: 'text', name: 'plan', size: 60, maxlength: 160, autocomplete: 'off', tabindex: 2, required: true}
    %label<
      %span> Schedule (
      = succeed ',' do
        %a{href: '#', id: 'daily'}<
          daily
      = succeed ',' do
        %a{href: '#', id: 'weekly'}<
          weekly
      = succeed ',' do
        %a{href: '#', id: 'biweekly'}<
          biweekly
      = succeed ',' do
        %a{href: '#', id: 'monthly'}<
          monthly
      = succeed ',' do
        %a{href: '#', id: 'quarterly'}<
          quarterly
      or
      = succeed '):' do
        %a{href: '#', id: 'annually'}<
          annually
    %input{id: 'schedule', type: 'text', name: 'schedule', size: 22, maxlength: 20, autocomplete: 'off', tabindex: 3, required: true}
    %label
      %span.item.small Or just once:
      %a.item.small{href: '#', id: 'schedule_asap'} ASAP
      %a.item.small{href: '#', id: 'schedule_week'} This week
      %a.item.small{href: '#', id: 'schedule_month'} This month
      %a.item.small{href: '#', id: 'schedule_later'} Later
    %input{type: 'submit', value: 'Add', tabindex: 4}

- plans.each do |p|
  %p
    %code= "P#{p[:id]}"
    ➜
    %code= "#{p[:prefix]}#{p[:part]}"
    %br
    &= p[:text]
    %br
    %span.item.small
      &= p[:schedule]
    %a.item.small{href: iri.cut('/responses/detach').add(tid: triple[:id], id: p[:id], part: p[:part]), onclick: "if(!confirm('Are sure you want to detach plan ##{p[:id]}')) return;"} Detach

%p
  If you are in doubt and need to learn more about
  the cause+risk+effect model of risk management, read
  = succeed '.' do
    %a{href: 'https://www.yegor256.com/2019/05/14/cause-risk-effect.html'} this blog post
