%h2
  Risks

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if risks.empty?
  %p
    No risks as of yet.
- else
  %table
    %colgroup
      %col{style: 'width: 3em'}
      %col{style: ''}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th Id
        %th Text
        %th.right P
        %th.right Rank
        %th.right Effects
    %tbody
      - risks.each do |r|
        %tr
          %td
            %code= "R#{r[:id]}"
          %td
            &= r[:text]
          %td.right
            = r[:probability]
          %td.right
            = rank(r)
          %td.right
            = r[:effects]
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if risks.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

