%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if tasks.empty?
  %p
    The agenda is empty.
- else
  - tasks.each do |t|
    %p
      %code= "T#{t[:id]}"
      = '&rarr;'
      %code= "P#{t[:plan]}"
      = '&rarr;'
      %code= "#{t[:part]}"
      %br
      &= t[:ptext]
      %br
      &= t[:text]
      %br
      %span.item.small<
        &= t[:schedule]
      %a.item.small{href: iri.cut('/tasks/done').add(id: t[:id], plan: t[:plan], part: t[:part])} Done
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if tasks.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

