- unless wired
  %p
    Talk to our Telegram bot:
    %a{href: 'https://t.me/zerorsk_bot'}<
      %code @zerorsk_bot

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if tasks.empty?
  %p
    Good job, the agenda is empty!
  %p
    Tasks will show up here where plan schedules will be due.
    Stay tuned.
- else
  - tasks.each do |t|
    %p
      = thumb(t)
      %span{class: (t[:rank] >= 64 ? 'red' : (t[:rank] <= 32 ? 'green' : ''))}
        = t[:rank]
      %br
      %code= "T#{t[:id]}"
      = '&rarr;'
      %a{href: iri.cut('/responses').add(id: t[:triple])}<
        %code= "P#{t[:plan]}"
      = '&rarr;'
      %code= "#{t[:prefix]}#{t[:part]}"
      %br
      &= t[:ctext]
      %br
      &= t[:rtext]
      %br
      &= t[:etext]
      %br
      %strong
        &= t[:text]
      %br
      %a.item.small{href: iri.cut('/projects').append(t[:pid])}<
        &= t[:title]
      %span.item.small<
        &= t[:schedule]
      %a.item.small{href: iri.cut('/tasks/done').add(id: t[:id])} Done
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if tasks.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next

%p
  %a{href: iri.cut('/tasks/create')} Create now
