- unless wired
  %p
    Talk to our Telegram bot:
    %a{href: 'https://t.me/zerorsk_bot'}<
      %code @zerorsk_bot

%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if tasks.empty?
  - if query.empty?
    %p
      Good job, the agenda is empty!
    %p
      Tasks will show up here where plan schedules will be due.
      Stay tuned.
  - else
    %p
      %span.red Nothing
      found, sorry.
- else
  %p
    There are
    %strong{class: total > 8 ? '' : 'red'}
      = "#{total} task#{total == 1 ? '' : 's'}"
    that require your immediate attention:
  - tasks.each do |t|
    %p
      = thumb(t)
      = rank(t)
      %a{href: iri.over(q: t[:emoji])}<
        &= t[:emoji]
      %br
      = part('T', t[:id])
      = '&rarr;'
      %a{href: iri.cut('/responses').add(id: t[:triple])}<
        %code= "P#{t[:plan]}"
      = '&rarr;'
      = part(t[:prefix], t[:part])
      %br
      &= t[:ctext]
      %br
      &= t[:rtext]
      %br
      &= t[:etext]
      %br
      %strong
        &= t[:text]
      %br
      %a.item.small{href: iri.cut('/projects').append(t[:pid])}<
        &= t[:title]
      %span.item.small<
        &= t[:schedule]
      %a.item.small{href: iri.cut('/tasks/done').add(id: t[:id])} Done
  = Haml::Engine.new(File.read('views/_paging.haml')).render(self, locals.merge(count: tasks.count))

%p
  We're checking all your plans regularly and create tasks
  accordingly, when time comes. You can
  %a{href: iri.cut('/tasks/create')} click here
  to pull the latest plans in, right now.
  - if updated
    The last time plans were checked
    = succeed '.' do
      - RelativeTime.in_words(updated.utc.iso8601)
