%link{href: 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css', rel: 'stylesheet'}
%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js'}
%script{src: '/js/triple.js'}

%h2
  - if defined?(triple)
    Edit
    = "##{triple[:id]}"
  - else
    Add to the project
    = "##{project}"

%form{method: 'POST', action: iri.cut('/triple/save')}
  %label
    Cause:
  %br
  %input#ctext{type: 'text', name: 'ctext', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: defined?(triple) ? triple[:ctext] : '', required: true}
  %input.dimmed#cid{type: 'text', name: 'cid', size: 3, autocomplete: 'off', readonly: true, value: defined?(triple) ? triple[:cid] : ''}
  %a#ctext_detach.small.item{href: '#', style: defined?(triple) ? '' : 'display: none;'} Detach
  %br
  = succeed ':' do
    %a{href: 'https://unicode.org/emoji/charts/full-emoji-list.html'} Emoji
  %input#emoji{type: 'text', name: 'emoji', size: 2, maxlength: 2, autocomplete: 'off', tabindex: 2, value: defined?(triple) ? triple[:emoji] : '💰', required: true}
  - unless emojis.empty?
    - emojis.each do |e|
      %a{onclick: '$("#emoji").val($(this).text());return false;', href: '#'}= e
  %br
  %label
    Risk:
  %br
  %input#rtext{type: 'text', name: 'rtext', size: 50, maxlength: 160, tabindex: 3, value: defined?(triple) ? triple[:rtext] : '', required: true}
  %input.dimmed#rid{type: 'text', name: 'rid', size: 3, autocomplete: 'off', readonly: true, value: defined?(triple) ? triple[:rid] : ''}
  %a#rtext_detach.small.item{href: '#', style: defined?(triple) ? '' : 'display: none;'} Detach
  %br
  %label
    Probability:
  %br
  %select#probability{name: 'probability', tabindex: 4}
    - {'Definitely' => 9, 'Extremely high' => 8, 'High' => 6, 'Average' => 5, 'Low' => 4, 'Very low' => 2, 'Unlikely' => 1}.each do |k, v|
      %option{value: v, selected: defined?(triple) && triple[:probability] == v || v == 5}= "#{k} (#{v})"
  %br
  %label
    Effect:
  %br
  %input#etext{type: 'text', name: 'etext', size: 60, maxlength: 160, autocomplete: 'off', tabindex: 5, value: defined?(triple) ? triple[:etext] : '', required: true}
  %input.dimmed#eid{type: 'text', name: 'eid', size: 3, autocomplete: 'off', readonly: true, value: defined?(triple) ? triple[:eid] : ''}
  %a#etext_detach.small.item{href: '#', style: defined?(triple) ? '' : 'display: none;'} Detach
  %br
  %label
    Consequences are positive?
  %br
  %input#positive{type: 'checkbox', name: 'positive', tabindex: 6, value: 'positive', checked: defined?(triple) && triple[:positive] ? 'true' : nil}
  %br
  %label
    Impact:
  %br
  %select#impact{name: 'impact', tabindex: 7}
    - {'Fatal' => 9, 'Catastrophic' => 8, 'Serious' => 6, 'Average' => 5, 'Moderate' => 4, 'Minor' => 2, 'Unnoticable' => 1}.each do |k, v|
      %option{value: v, selected: defined?(triple) && triple[:impact] == v || v == 5, type: 'negative', hidden: defined?(triple) && triple[:positive]}= "#{k} (#{v})"
    - {'Fantastic' => 9, 'Awesome' => 8, 'Very good' => 6, 'Average' => 5, 'Good to have' => 4, 'Minor' => 2, 'Unnoticable' => 1}.each do |k, v|
      %option{value: v, selected: defined?(triple) && triple[:impact] == v, type: 'positive', hidden: !defined?(triple) || !triple[:positive]}= "#{k} (#{v})"
  - if defined?(triple) && triple[:positive]
    %img#marker.up
  - else
    %img#marker.down
  %br
  %input{type: 'submit', value: 'Submit', tabindex: 8}

%p
  If you are in doubt and need to learn more about
  the cause+risk+effect model of risk management, read
  = succeed '.' do
    %a{href: 'https://www.yegor256.com/2019/05/14/cause-risk-effect.html'} this blog post
